<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
        <div class="w3-content" style="max-width:1200px">
            <form class = "w3-center" action="/hopdong/search" method="POST" enctype="application/x-www-form-urlencoded">
                <input class="w3-input" type="text" name="Ten" placeholder="Search: contract name">
            </form>
        </div>

        <h1 class="w3-padding-large w3-center">
            DANH SÁCH CÁC HỢP ĐỒNG
        </h1>
        <table class="w3-table w3-bordered w3-padding-64 w3-content w3-centered w3-hoverable" style="max-width: 1200px;">
            <thead>
              <tr>
                <th scope="col">Mã hợp đồng</th>
                <th scope="col">Tên</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Loại hợp đồng</th>
                <th scope="col">Ngày bắt đầu</th>
                <th scope="col">Ngày kết thúc</th>
                <th scope="col">Mã công việc</th>
                <th scope="col">Thông tin thêm</th>
                <th scope="col">  
                    <form  action="http://localhost:3000/hopdong/insert">
                        <input type="submit" name="btnThemHopDong" value="Thêm" />
                    </form>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <% conList.forEach((hopdong) => { %>
                    <tr>
                        <td><%= hopdong.hd_mahopdong %></td>
                        <td><%= hopdong.hd_ten %></td>
                        <td><%= hopdong.hd_trangthai %></td>
                        <td><%= hopdong.hd_loaihopdong %></td>
                        <td><%= hopdong.hd_ngaybatdau.toDateString() %></td>
                        <td><%= hopdong.hd_ngayketthuc.toDateString() %></td>
                        <td><%= hopdong.hd_macongviec %></td>
                        <td><a href="/hopdong/moreinfo/<%= hopdong.hd_mahopdong %>"> Xem chi tiết </a> 
                        <td>
                            <form  action="http://localhost:3000/hopdong/update/<%= hopdong.hd_mahopdong %>">
                                <input type="submit" name="btnSuaHopDong" value="Sửa" />
                            </form>
                        </td>
                        <td>
                            <form  action="http://localhost:3000/hopdong/delete/<%= hopdong.hd_mahopdong %>">
                                <input type="submit" name="btnXoaHopDong" value="Xóa" />
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
          </table>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

<script>
    <%- include('../partials/script'); %>
</script>

</body>
</html>